<div class="container">
    <h1 class="text-center fw-bolder">Cube</h1>
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 border border-2 shadow p-4">
            <div class="mb-3">
                <label for="">Number</label>
                <input type="text" class="form-control" placeholder="enter number1" #inpbox>
            </div>
            <div class="mb-3">
                <button (click)="cube(inpbox)" class="btn btn-success form-control" >Cube</button>
            </div>
            <h3>Output={{result}}</h3>
        </div>
        <div class="col-3"></div>
    </div>
</div>