<div class="container">
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6 p-5 border border-2 shadow">
            <div class="text-center">
                <h2 class="fw-bolder my-2">Login</h2>
            </div>
            <form action="" [formGroup]="loginForm" (ngSubmit)="login()">
                <div class="mb-3">
                    <label for="">Username</label>
                    <input type="text" placeholder="enter username" class="form-control" formControlName="username">
                    <span class="form-text text-danger" *ngIf="username?.touched && username?.invalid">Enter valid username</span>
                </div>
                <div class="mb-3">
                    <label for="">password</label>
                    <input type="password" placeholder="Enter password" class="form-control" formControlName="password">
                    <span class="form-text text-danger" *ngIf="password?.touched && password?.invalid">Enter valid password</span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-success" [disabled]="loginForm.invalid">register</button>
                </div>
            </form>
        </div>
        <div class="col-3"></div>
    </div>
</div>