<nav class="navbar bg-body-tertiary d-flex justify-content-center">
    <div class="d-flex mx-5 my-3 gap-5">
        <div>
            <a class="text-decoration-none" href=""routerLink="addition">Addition</a>
        </div>
        <div>
            <a class="text-decoration-none" href=""routerLink="bmi">BMI</a>
        </div>
        <div>
            <a class="text-decoration-none" href=""routerLink="cube">Cube</a>
        </div>
        <div>
            <a class="text-decoration-none" href=""routerLink="division">Division</a>
        </div>
        <div>
            <a class="text-decoration-none" href=""routerLink="emi">EMI</a>
        </div>
        <div>
            <a class="text-decoration-none" href=""routerLink="lengthconvert">Length Convertor</a>
        </div>
        <div>
            <a class="text-decoration-none" href=""routerLink="login">Login</a>
        </div>
        <div>
            <a class="text-decoration-none" href=""routerLink="multiplication">Multiplication</a>
        </div>
        <div>
            <a class="text-decoration-none" href=""routerLink="register">Register</a>
        </div>
        <div>
            <a class="text-decoration-none" href=""routerLink="subtraction">Subtraction</a>
        </div>
        <div>
            <a class="text-decoration-none" href=""routerLink="temperature">Temperature</a>
        </div>
    </div>
</nav>